<footer class="small text-muted text-center">
  <p>Made in and for India by <a href="https://twitter.com/sudhirj">Sudhir Jonathan</a>.</p>
  <p class="mb-0">Code on
    <a href="https://github.com/sudhirj/shots">GitHub</a>. Data from the
    <a href="https://apisetu.gov.in/public/marketplace/api/cowin/cowin-public-v2">CoWIN Public APIs</a>. Some
    location data is sourced from
    <a href="http://download.geonames.org/export/">GeoNames</a> under the Creative Commons License.</p>
</footer>