<% content_for :title do %>
  <title>Take the Shot! Find vaccination centers near you.</title>
<% end %>
<div class="container d-flex flex-column justify-content-around h-100">
  <header class="my-5">
    <a href="<%= root_path %>" class="text-dark text-decoration-none">
      <h1 class="display-5 text-center">Take The Shot!</h1>
    </a>
    <h3 class="text-center px-2 my-3 h5 text-muted">Find a vaccination center near you and check availability.</h3>
  </header>

  <%=render partial: 'dashboard/jump' %>
  <p class="text-center px-2 my-5 text-muted">We're working on scheduling, but for now you'll have to make your actual
    booking on COWIN.</p>

  <%= render partial: 'dashboard/footer' %>
</div>

